 .container img {
    display: block;
    width:100%;
    margin:0 auto;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
   }
    40% {
        transform: translateY(0);
   }
    55% {
        transform: translateY(-6px);
   }
    70% {
        opacity: 1;
        transform: translateY(0);
   }
    85% {
        transform: translateY(-3px);
   }
    100% {
        opacity: 1;
        transform: translateY(0);
   }
}
@keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
   }
    40% {
        transform: translateY(0);
   }
    55% {
        transform: translateY(-6px);
   }
    70% {
        opacity: 1;
        transform: translateY(0);
   }
    85% {
        transform: translateY(-3px);
   }
    100% {
        opacity: 1;
        transform: translateY(0);
   }
}
/* End Bounce Animation */
html.cssanimations .box-a {
    opacity: 0;
}
.box-a {
    animation: fadeBounce 1s forwards;
    -webkit-animation: fadeBounce 1s forwards;
    background-color: #e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.boxes :nth-child(2) .box-a {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.boxes :nth-child(3) .box-a {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.boxes :nth-child(4) .box-a {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.box-b {
    text-align: center;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-bottom: 40px;
    border-radius: 50%;
    transition: all 1s ease-out;
}
.box-b:hover {
    transform: rotate(360deg);
}
/* Slideshow Styles */
.cycle-slideshow {
    margin-bottom: 30px;
}
.slide {
    width: 100%;
    position: relative;
}
.slide img {
    display: block;
}
.slide-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
@media screen and (max-width: 767px) {
    .slide-text {
        position: static;
        background-color: #000;
   }
}
.slide-text h3 {
    margin: 0;
}
/* Prev and Next Buttons */
.cycle-prev, .cycle-next {
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 1px 10px;
    display: block;
    cursor: pointer;
    font-size: 130%;
    z-index: 400;
    opacity: 0;
    transition: opacity 0.5s;
}
.cycle-next {
    right: 0;
}
.cycle-slideshow:hover .cycle-prev, .cycle-slideshow:hover .cycle-next {
    opacity: 1;
}
.cycle-pager {
    position: absolute;
    top: 20px;
    z-index: 403;
    width: 100%;
    text-align: center;
}
.cycle-pager span {
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 4px;
    cursor: pointer;
}
.cycle-pager .cycle-pager-active {
    background-color: #000;
}
/* Button A Style */
.btn-a {
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #365267;
    color: #fff;
    font-size: 84%;
    margin-left: 10px;
}
.btn-a:hover {
    background-color: #fff;
    color: #365267;
}
/* Banner Overlay */
.image-banner {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}
.image-banner img {
    display: block;
    transition: all 2s;
}
.image-banner:hover img {
    transform: scale(1.5);
}
.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px 25px;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transform: translateY(100%);
}
.image-banner:hover .banner-description {
    opacity: 1;
    transform: translateY(0);
}
@media screen and (max-width: 767px) {
    .box-a {
        margin-bottom: 15px;
   }
}
/* Grid */
.row {
    margin-right: -20px;
}
.col {
    width: 100%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}
.col-xs-11 {
    width: 91.662%;
}
.col-xs-10 {
    width: 83.332%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.662%;
}
.col-xs-7 {
    width: 58.331%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.662%;
}
.col-xs-4 {
    width: 33.332%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.662%;
}
.col-xs-1 {
    width: 8.332%;
}
@media screen and (min-width: 768px) {
    .col {
        padding-right: 40px;
   }
    .col-sm-11 {
        width: 91.662%;
   }
    .col-sm-10 {
        width: 83.332%;
   }
    .col-sm-9 {
        width: 75%;
   }
    .col-sm-8 {
        width: 66.662%;
   }
    .col-sm-7 {
        width: 58.331%;
   }
    .col-sm-6 {
        width: 50%;
   }
    .col-sm-5 {
        width: 41.662%;
   }
    .col-sm-4 {
        width: 33.332%;
   }
    .col-sm-3 {
        width: 25%;
   }
    .col-sm-2 {
        width: 16.662%;
   }
    .col-sm-1 {
        width: 8.332%;
   }
}
@media screen and (min-width: 1024px) {
    .col-md-11 {
        width: 91.662%;
   }
    .col-md-10 {
        width: 83.332%;
   }
    .col-md-9 {
        width: 75%;
   }
    .col-md-8 {
        width: 66.662%;
   }
    .col-md-7 {
        width: 58.331%;
   }
    .col-md-6 {
        width: 50%;
   }
    .col-md-5 {
        width: 41.662%;
   }
    .col-md-4 {
        width: 33.332%;
   }
    .col-md-3 {
        width: 25%;
   }
    .col-md-2 {
        width: 16.662%;
   }
    .col-md-1 {
        width: 8.332%;
   }
}
@media screen and (min-width: 1280px) {
    .col-lg-11 {
        width: 91.662%;
   }
    .col-lg-10 {
        width: 83.332%;
   }
    .col-lg-9 {
        width: 75%;
   }
    .col-lg-8 {
        width: 66.662%;
   }
    .col-lg-7 {
        width: 58.331%;
   }
    .col-lg-6 {
        width: 50%;
   }
    .col-lg-5 {
        width: 41.662%;
   }
    .col-lg-4 {
        width: 33.332%;
   }
    .col-lg-3 {
        width: 25%;
   }
    .col-lg-2 {
        width: 16.662%;
   }
    .col-lg-1 {
        width: 8.332%;
   }
}
@media screen and (max-width: 1023px) {
    .push-down-sm {
        margin-bottom: 30px;
   }
}
@media screen and (max-width: 767px) {
    .push-down-sm {
        margin-bottom: 15px;
   }
}
footer {
    text-align: center;
    font-size: 85%;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}
.row:before, .row:after, .group:before, .group:after {
    content: "";
    display: table;
}
.row:after, .group:after {
    clear: both;
}
.row, .group {
    zoom: 1;
}
