@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

html {
    background-image: url("../images/background.jpg");
    min-width:601;
    margin:0;
    padding:0;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

::selection {
    color: none;
    background: none;
}

body {
    background:none;
    padding:0;
    margin:0;
}

h1 {
    display:inline;
}

a {
    color:royalblue;
    text-decoration:none;
}

p a:hover {
    text-shadow: 0px 0px 2px rgba(64, 77, 255, 0.219);
}

.highlight {
    opacity:.8;
    background-color:#6b8bff50;
    padding:2px;
    border-radius:4px;
}


.highlight-green {
    opacity:.8;
    background-color:#71e27186;
    padding:2px;
    border-radius:4px;
}


.highlight-red {
    opacity:.8;
    background-color:#f0808083;
    padding:2px;
    border-radius:4px;
}

#visit {
    font-size:2.5rem;
    background: linear-gradient(to top, #081130 0%, #479dee 100%);
    background-clip:text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:500;
    letter-spacing:-2px;
    margin-left:8%;
    vertical-align: middle;
}

#galway {
    font-size:2.5rem;
    background: linear-gradient(to bottom, #BA2D0B 0%, #140329 100%);
    background-clip:text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:700;
    vertical-align: middle;
}

#hooker {
    vertical-align:middle;
}

.header-bar {
    box-sizing: border-box;
    width:100%;
    background: rgba(255,255,255,0.5);
    padding:0;
    margin:0;
}

#desktop-nav {
    display:inline;
    vertical-align: middle;
    font-size:2rem;
    font-weight:400;
    vertical-align: middle;
    margin-left:14%;
}

#desktop-nav a {
    color:royalblue;
    margin-right:5%;
    animation-name:fadeBounce;
    animation-duration:1.2s;
    transition-property:background-color,border-color,text-shadow;
	transition-duration:.3s;
}

nav a:hover {
    text-shadow: 0px 0px 16px #4a71ff;
}

#desktop-nav i {
    color:rgba(65,105,225,0.5);
    padding-right:5px;
}

#menu-button {
    display:none;
}

.invisible { /* This class is toggled on #mobile-nav when #menu-button is clicked*/
    display:none;
}

.welcome-text {
    font-size:0.9rem;
    text-align: center;
    background: rgba(255,255,255,0.7);
    box-shadow:rgba(255,255,255,0.6);
    width:60%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius:8px;
}

/* MAP STYLING */
.map-buttons {
    width:25%;
    margin:auto;
    float:left;
}

.map-buttons i {
    opacity:60%;
    padding-right:7%;
}

.map-buttons button {
    background-color: rgba(103, 19, 29);
    font-size:2rem;
    display:inline-block;
    width:100%;
    border-radius:4px;
    margin-top:2px;
    padding-top:8px;
    padding-bottom:8px;
    color:rgba(255,255,255,0.85);
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    outline:none;
    border:none;
    cursor:pointer;
    animation-name:fade;
    animation-duration:0.3s;
    transition-property:border, box-shadow, background, opacity;
	transition-duration:.3s;
}

.map-buttons button:hover {
    background-color: rgb(116, 23, 34);
    color:rgba(255,255,255,1);
    opacity:100%;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.3);
}

#map-container {
    display: inline-block;
    width:50%;
}

#map {
    margin:0 auto;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    width:100%;
    height:500px;
    border-radius:4px;
}

#map a {
    font-weight:700;
}

#map button {
    opacity:95%;
    width:100px;
    display:block;
    margin:0 auto;
    margin-top:6px;
    border-style:none;
    color:white;
    background-image: linear-gradient( #6b8bff,  #315dff);
    border-radius:3px;
    border: solid 1px #0037ff;
    outline:none;
    cursor:pointer;
    padding:2px;
}

#map button:hover {
    opacity:100%;
}

#map button i {
    color:rgba(255,255,255,0.8);
    margin-right:2px;
}

/* TODO LIST STYLING */
#todo-list-header {
    background:rgba(20, 9, 73, 0.89);
    padding-top:7px;
    border-radius:0px;
}

#todo-list-header i {
    padding-right:5px;
}

#todo-list {
    display: inline-block;
    background:rgba(20, 9, 73, 0.4);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    height:506px;
    width:24.5%;
    border-radius:5px;
    overflow-y:auto;
    height:500px;
    margin:0;
    padding:0;
    list-style:none;
}

.todo-li {
    height:37px;
    width:100%;
    margin-top:1px;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    background:rgba(20, 9, 73,0.75);
    font-size:1.2rem;
    color:rgba(255,255,255,0.8);
    text-shadow:0px 0px 3px rgba(0,0,0,0.5);
    animation-name:fadeBounce;
    animation-duration:0.8s;
    transition-property:background-color,border-color,text-shadow;
    transition-duration:.3s;
}

.todo-li:hover {
    color:rgba(255,255,255,0.9);
    animation-name:fadeBounce;
    animation-duration:0.8s;
    transition-property:background-color,border-color,text-shadow;
    transition-duration:.3s;
}

.todo-li span {
    float:left;
    margin-top:6px;
    margin-left:3%;
}

.todo-buttons {
    display:inline;
    float:right;
    margin:1px;
}

.todo-complete {
    opacity:0.4;
}

.todo-complete span {
    text-decoration: line-through;
    text-decoration-color:rgba(255,255,255,0.5);
}

.delete-btn {
    opacity:0.9;
    width:60px;
    padding:7px;
    font-size:1rem;
    border: 1px solid #f08080;;
    background:#e05b5b;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
    border-radius:4px;
    color:rgb(223, 223, 223);
    text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    margin-right:1px;
    outline:none;
    cursor:pointer;
    animation-name:fade;
    animation-duration:0.1s;
    transition-property:border, box-shadow, background, opacity;
	transition-duration:.2s;
}

.delete-btn:hover {
    opacity:1;
    background:#e05b5b;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: none;
}

/* TODO LIST SCROLLBAR STYLING */

ul::-webkit-scrollbar {
    width: 20px;
    height: 16px;
    border-radius:5px;
  }
  ul::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ul::-webkit-scrollbar-thumb {
    background: #251d4e;
    border: solid 1px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 5px inset rgba(0, 81, 255, 0.952);
    box-shadow: 0px 6px 6px rgba(0,0,0,0.3);
    border-radius:5px;
  }
  ul::-webkit-scrollbar-track {
    background: hsla(261, 45%, 47%, 0.8);
    border: solid 1px rgba(255,255,255,0.3);
    border-radius:5px;
  }
  ul::-webkit-scrollbar-corner {
    background: transparent;
    border-radius:5px;
  }



/* FOOTER STYLING */
#socials-footer {
    margin:auto;
    margin-top:10px;
    width:75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(71, 157, 238,0.7);
    height:60px;
    text-align:center;
    padding-top:6px;
    padding-bottom:3px;
}

#socials-footer div:hover {
    opacity:100%;
    animation-name:fade;
    animation-duration:0.3s;
    transition-property:border, box-shadow, background, opacity;
	transition-duration:.3s;
}

.social-icon {
    opacity:85%;
    font-size:1.8rem;
    color:white;
    text-shadow:0px 0px 3px rgba(0,0,0,0.6);
    box-shadow:0px 0px 3px rgba(255,255,255,0.5);
    display:inline-block;
    padding-left:14px;
    padding-right:14px;
    background:linear-gradient(to top, #2743aa 0%, #479dee 100%);
    line-height: 2;
    margin-left:1%;
    margin-right:1%;
    border-radius:8px;
    animation-name:fade;
    animation-duration:0.3s;
    transition-property:border, box-shadow, background, opacity;
	transition-duration:.3s;
}

#text-footer {
    width:75%;
    margin:auto;
    padding-top:12px;
    padding-bottom:12px;
    font-size:1.1rem;
    color: rgba(255,255,255,0.8);
    text-shadow:0px 0px 3px rgba(0,0,0,0.6);
    background: rgba(71, 157, 238,0.95);
    text-align:center;
}

@media screen and (max-width:1400px) {
    .todo-li {
        font-size:1.1rem;
    }
}

/* SMALL DESKTOP AND TABLET DEVICES */
@media screen and (max-width:1300px) {
    #visit, #galway {
        font-size:2rem;
    }

    #desktop-nav {
        margin-top:40px;
        float:right;
        margin-right:2%;
    }

    #desktop-nav a {
        font-size:1.3rem;
        margin-right:15px;
    }

    #desktop-nav {
        margin-left:3%;
    }

    #desktop-nav i {
        padding-right:none;
    }

    .welcome-text {
        width:80%;
    }

    .map-buttons {
        width:33%;
    }

    .map-buttons button {
        font-size:1.5rem;
        height:50px;
    }

    #map-container {
        width:66%;
        margin-left:5px;
    }

    #todo-list {
        display:block;
        width:90%;
        margin: 0 auto;
        height:300px;
    }

    .todo-li span {
        padding-left:8%;
    }
}

/* MOBILE RESOLUTION */
@media screen and (max-width:768px) {
    #desktop-nav {
        display:none;
    }

    #menu-button {
        cursor:pointer;
        display:inline;
        float:right;
        margin-top:30px;
        margin-right:5%;
        font-size:3rem;
    }

    .menu-button-clicked {
        color:rgb(78, 78, 78);
        text-shadow:0px 0px 5px white;
    }

    #mobile-nav {
        animation-name:fadeBounce;
        animation-duration:1.2s;
        transition-property:background-color,border-color,text-shadow;
        transition-duration:.3s;
    }

    #mobile-nav i {
        color:rgba(255,255,255,0.5);
        text-shadow:none;
        padding-right:10px;
    }

    nav a {
        font-size:1.4rem;
        color:rgba(255,255,255,0.8);
        text-shadow:0px 0px 3px rgba(0,0,0,0.5);
        animation-name:fadeBounce;
        animation-duration:1.2s;
        transition-property:background-color,border-color,text-shadow;
        transition-duration:.3s;
    }

    nav a:hover {
        color:rgba(255,255,255,1);
        text-shadow:0px 0px 6px rgba(255, 255, 255, 0.4);
        animation-name:fadeBounce;
        animation-duration:1.2s;
        transition-property:background-color,border-color,text-shadow;
        transition-duration:.3s;
    }

    ul {
        padding-inline-start: 0px;
    }

    #home, #plan-a-visit, #contact {
        padding-top:15px;
        padding-bottom:15px;
        margin-left:0px;
        list-style:none;
        width:100%;
        text-align:center;
    }

    #home {
        background-color: rgba(40, 98, 168,0.85);
    }

    #plan-a-visit {
        background-color: rgba(103, 19, 29,0.85);
    }

    #contact {
        background-color: rgba(20, 9, 73,0.8);
    }

    .welcome-text {
        width:90%;
        font-size:0.9rem;
    }
    .visible {
        display:block;
    }

    #map-container {
        width:100%;
    }

    .map-buttons {
        width:100%;
        margin:auto;
        margin-top:10px;
    }

    .map-buttons button {
        font-size:1.5rem;
        width:49%;
        margin-left:0.5px;
    }

    #map button {
        width:90px;
    }

    #todo-list {
        display:block;
        margin:0 auto;
        width:95%;
    }

    #socials-footer {
        width:95%;
    }

    #text-footer {
        width:95%;
    }
}

/*  ANIMATIONS  */
@keyframes fadeBounce {
	0% {
		opacity:0;
		transform: translateY(-200%);
	}

	50% {
		transform:translateY(2px);
	}

	85% {
    transform: translateY(-1px);
    }

	100% {
		opacity:1;
		transform:translateY(0);
	}
}

@keyframes fadeOut {
	0% {
		opacity:1;
	}

	100% {
		opacity:0.5;
	}
}